<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">ZStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/products">Products</a>
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
          <a class="nav-link" routerLink="/admin/newProduct">New Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/customers">Customers</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item nav-link">
          {{this.authService.authenticatedUser!.username}}
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logoutHandler()">
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<div class="col-md-4 offset-md-4">-->
<!--  <img class="img-fluid" src="https://img.freepik.com/free-vector/shop-with-we-are-open-sign_23-2148557016.jpg?w=2000" alt="Our ZStore image logo">-->
<!--</div>-->

<router-outlet></router-outlet>
